
.input{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  

}
#TextField{
    padding: 10%;
    align-items: center;

}
#addingForm{
    direction:rtl;

}
.filled-basic{
    direction:rtl;

}